body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #fff;
  margin: 0;
  font-weight: 400;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
}

.container {
    width: 80%;
    max-width: 80%;
}

.container-fluid {
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.row {
	clear: both;
}

.no-margin {
	margin: 0;
}

.capitalize {
	text-transform: uppercase;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.white-text {
	color: #fff;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.center-block {
	margin-right: auto;
	margin-left: auto;
}

.img-responsive {
	width: 100%;
	max-width: 100%;
	display: block;
}

.button {
    border-radius: 20px;
    line-height: 1.125;
    padding: 10px 16px;
    margin-top: 30px;
    display: inline-block;
    white-space: nowrap;
    background: #d9534f;
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-header {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: 0;
}

.main-header ul li {
	display: inline-block;
}
.main-header nav > ul li {
	padding: 5px 10px;
}

.main-header a:hover {
	color: #eee;
}

.main-block {
	position: relative;
}

.main-block .content {
	position: absolute;
	bottom: 20px;
	width: 50%;
	top: 20%;
	left: 50%;
	margin-left: -25%;
}

.main-block .content h1 {
	font-family: 'Playfair Display', serif;
	font-size: 56px;
	margin: 0 0 40px 0;
}

.main-block .content h2 {
	font-size: 20px;
	margin: 0 0 100px;
}

.main-block .content .btn-play {
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -41px;
}

.btn-play {
	background: url('../img/play-btn.png') no-repeat;
	width: 82px;
	height: 82px;
}
.card {
	position: relative;
}

.card .title {
	position: absolute;
	top: 50%; 
	width: 100%;
	z-index: 9;
	font-size: 18px;
}

.display-table {
    display: table;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.footer-link {
	padding: 80px 0 100px;
	color: #565656;
	overflow: hidden;
}

.footer-link li {
	font-style: italic;
	font-size: 14px;
}

.footer-link h3 {
	color: #151515;
}

.copyright {
	height: 100px;
	background: #000;
	color: #eee;
	font-size: 12px;
}

/*Media Queries*/
@media screen and (min-width: 992px) {
	.col-3 {
	    width: 25%;
	    float: left;
	}
}

@media screen and (max-width: 768px) {
	.col-3 {
	    width: 100%;
	}

	.main-header nav > ul li {
		padding: 5px;
	}

	.main-block .content {
		width: 100%;
		left: auto;
		margin-left: auto;
	}

	.main-block .content h1 {
		font-size: 26px;
		margin: 0 0 20px 0;
	}

	.main-block .content h2 {
		font-size: 12px;
		margin-bottom: 0;
	}
}